<h1>Custom Fields for People</h1>
<%= render_errors(@fields) %>
<%= form_for :people_fields, method: 'PUT' do |f| %>
	<table class="table table-striped fields">
		<thead>
		  <tr>
		    <th>Name</th>
			<th>Type</th>
			<th>Required</th>
		  </tr> 
		</thead>
		<tbody>
		<% @fields.fields.each_with_index do |field, idx| %>
			<%= render :partial => "field_row", :locals => { :field => field } %>
		<% end %>

		<%= render :partial => "field_row", :locals => { :field => {} } %>
		</tbody>
	</table>
    <%= f.submit class: 'btn btn-primary pull-right', value: "Save" %>
<% end %>