<%= render_errors(@person) %>
<%= form_for @person do |f| %>
	<div class="row">
		<div class="col-xs-6">
		  <div class="form-group">
		    <%= f.label :first_name %>
		    <%= f.text_field :first_name, class: 'form-control' %>
		  </div>
	    </div>

		<div class="col-xs-6">
			<div class="form-group">
				<%= f.label :last_name %>
				<%= f.text_field :last_name, class: 'form-control' %>
			</div>
		</div>
	</div>
	
	<% @fields.each do |field| %>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<%= render_field_label field %>
					<%= render_field field, @person, class: 'form-control' %>
				</div>
			</div>
		</div>
	<% end %>
	
 	<div class="row">
	  <div class="col-xs-12">
		  <div class="form-group">
		    <%= f.submit class: 'btn btn-primary pull-right' %>
			<%= link_to 'Back', people_path %>
		  </div>
	  </div>
	</div>
<% end %>